body{
font-family: Arial, Helvetica, sans-serif;

}
#lewy{
background-color: aquamarine;
color: white;
width: 25%;
height: 80px;
float: left;
}
#prawy{
    background-color: aquamarine;
    color: white;
    width: 25%;
    height: 80px;
    float: left;
}
#srodkowy{
    background-color: aquamarine;
    color: white;
    width: 50%;
    height: 80px;
    text-align: center;
    float: left;
}
#glowny{
    background-color: rgb(65, 75, 71);
    margin: 40px;
    clear: both;
}
#lewy2{
    width: 50%;
    height:200px;
    background-color: blueviolet;
    text-align: center;
    float: left;
}
#prawy2{
    width: 50%;
    height:200px;
    background-color: blueviolet;
    text-align: center;
    float: left;
}
#stopka{
    background-color: darkblue;
    clear: both;
}
table{
    border-style: 1px solid blue;
    width: 100%;
}
td{
    border-style: 1px solid blue;
}
tr{
    border-style: 1px solid blue;
    background-color: blue;
}