body{
background-color: rgb(255, 255, 255);
font-size: large;
font-family: 'Times New Roman', Times, serif;
}

#header{
width: 70%;
height: ;
background-color: rgb(196, 196, 196);
display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
letter-spacing: 5px;
float: left;
padding-top: 15px;
padding-bottom: 15px;
}
.plus:hover{
    transition: 1s;
    text-decoration: line-through;
    }
#header1{
    width: 30%;
    justify-content: center;
    display: flex;
    background-color: rgb(196, 196, 196);
    float: left;
    }
.logo:hover{
    transition: 1s;
    transform
}

table{

    display: flex;
    height: auto;
    width: auto;
   margin: 10%;
   border: 5px solid rgb(22, 22, 22); 
  
}
th{
    padding: 2px;
     text-align: center;
    background-color: aqua;
    
}
td{
    text-align: center;
background-color: rgb(88, 88, 88);

}


#gluwna{
margin-top: 10px;
height: 500px;
width: 70%;
background-color: rgb(133, 133, 133);
float: left;
}

#gluwna-poboczna{
    margin-top: 10px;
    height: 500px;
    width: 30%;
    background-color: rgb(109, 109, 109);
    float: left;
    margin-bottom: 10px;
}

#stopki{
clear: both;
background-color: rgb(87, 87, 87);
width: auto;
height: 100px;
}

#dol{

background-color: rgb(44, 44, 44);
width: auto;
height: 20px;

}