body{
    background-color: rgb(10, 3, 4);
}
#header {
    border: 10px dashed rgb(10, 3, 4);
    text-align: center;
    font-size: x-large;
    border-radius: 25px;
    width: auto;
    height: 5%;
    background-color: rgb(252, 58, 100);
}

#body1 {

    border-radius: 25px;
    float: left;
    margin-top: 20px;
    margin-left: 3%;
    width: 45%;
    height: 400px;
    background-color: rgb(252, 58, 100);
    word-wrap: break-word;


}

#body2 {
    margin-left: 4%;
    border-radius: 25px;
    float: left;
    margin-right: 3%;
    margin-top: 20px;
    width: 45%;
    height: 400px;
    background-color: rgb(252, 58, 100);
    margin-bottom: 20px;
    }

  #stupki {    
    padding-bottom: 20px;
    text-align: center;
  border-radius: 25px;
   clear: both;
   width: auto;
   height: auto;
   border: 10px dashed rgb(10, 3, 4);
  background-color: rgb(252, 58, 100);
    }
  #haslo {
    
     margin-top: 10px;
      text-align: center;
      border-radius: 25px;
       clear: both;
       width: auto;
       height: auto;
       border: 3px dashed rgb(0, 0, 0);
      background-color: rgb(68, 59, 61);
 
    }